:root {
    --primary: #D81E5B;
    --secondary: #8A4EFC;
    --light: #EEE;
    --light-alt: #61759b;
    --dark: #131A26;
    --dark-alt: #202B3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*html {*/
/*    background: linear-gradient(to right bottom, #fbdb89, #f48982);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*}*/

/*body {*/
/*    font-family: sans-serif;*/
/*}*/
.outer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 36px 48px 48px 48px;
    background-color: #f2efee;

    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.signup_title {
    color: var(--dark);
    padding: 15px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.signup_form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.signup_form label {
    display: block;
    margin-bottom: 8px;
}

.signup_form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
}

.signup_form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
}

.btn_form {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    display: inline-block;
    font-weight: 700;
    color: #fdf2e9;
    align-self: end;
    padding: 8px;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;

    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
}

.btn_form:hover {
    opacity: 0.8;
}

p {
    color: var(--dark);
}